# Maven
target/
*.log

# Environment files
.env

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# OS files
.DS_Store

# Crash logs
hs_err_pid*

# Node modules
node_modules/

# Maven
target/

# Logs
*.log

# Env
.envTwilio SId= AC65b548078ebcbe103f39a.txt
Twilio SId= AC65b548078ebcbe103f39a.txt
